:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  body{
    margin: 0; 
  }
  #container {
    display: grid;
    margin: 50px 150px 0px 150px;
    border: 5px solid red;
  }
  
  .gridblock {
    border: 1px solid #ddd;
    text-align: center;
  }
